spring:
  kafka:
    bootstrap-servers: kafka.lavacro.net:9092
    consumer:
      group-id: 'traffic-mon-ext-CG'
      auto-offset-reset: latest
      max-poll-records: 500
      enable-auto-commit: false
      client-id: 'traffic-consumer'
      key-deserializer: 'org.apache.kafka.common.serialization.StringDeserializer'
      value-deserializer: 'org.springframework.kafka.support.serializer.JsonDeserializer'
      properties:
        spring.deserializer.value.delegate.class: 'org.springframework.kafka.support.serializer.JsonDeserializer'
        spring.json.trusted.packages: "net.lavacro.traffic_mon.model,com.fasterxml.jackson.databind"
        spring.json.value.default.type: "net.lavacro.traffic_mon.model.Ulogd"
      fetch-min-size: 4096
      fetch-max-wait: 100
    listener:
      ack-mode: manual
      concurrency: 1
      type: batch

server:
  port: 8080
  undertow:
    threads:
      worker: 10

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      probes:
        enabled: true

application:
  mongodb:
    uri: "mongodb+srv://${mongodb_atlas_user}:${mongodb_atlas_pw}@lavacro-mongo.ww2pe5p.mongodb.net/?appName=lavacro-mongo"

kafka:
  topics: "traffic-topic-00,traffic-topic-01,traffic-topic-02,traffic-topic-03"
